:root {
  --color_font: #1e1e1e;
  --color_main_pink: #cf357a;
  --color_main_skyblue: #19afdd;
  --color_white: #ffffff;
  --color_background: #f3f3f3;
  --color_sub1: #eeeeee;
  --color_sub2: #bfbfbf;
  --color_sub3: #707070;
  --color_sub4: #e0eef2;
  --color_sub5: #eff6f8;
}
